@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Poppins:wght@900&display=swap');

.css-1bdgapz > div, #swap {
	position: relative;
	z-index: 1;
}

.css-thz6nx > div {
	position: relative;
	z-index: 1;
}

.css-1v2p8g8 {
	background: #121212e0 !important;
}
/*font-family: Poppins;

font-family: 'Poppins', sans-serif;

font-family: 'Nunito Sans', sans-serif;*/
